# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
src/pro/fisicas_colisiones/build/*
src/pro/circuito/build/*
src/pro/IA/build/*
src/pro/plantilla_fv/build/*
src/pro/fisicas_colisiones/build/cmake_install.cmake
src/pro/fisicas_colisiones/build/CMakeCache.txt
src/pro/fisicas_colisiones/build/MiJuego
src/pro/fisicas_colisiones/build/CMakeFiles/CMakeOutput.log
src/pro/fisicas_colisiones/build/CMakeFiles/TargetDirectories.txt
src/pro/fisicas_colisiones/build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
src/pro/fisicas_colisiones/build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
src/pro/fisicas_colisiones/build/CMakeFiles/3.16.3/CMakeSystem.cmake
src/pro/fisicas_colisiones/build/ej_modulos/cmake_install.cmake
