# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

src/pro/fisicas_colisiones/build/*
src/pro/circuitos/build/*
src/pro/IA/build/*
src/pro/plantilla_fv/build/*
src/pro/mejoras/build/*
src/pro/poderes/build/*
src/pro/proyecto_final/build/*
src/pro/proyecto_final/resources/*
